name: Python CD

on:
  workflow_run:
    workflows: ["Python CI"] # This must match your CI workflow name
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }} # Only deploy if CI succeeded
    runs-on: ubuntu-latest

    container: ghcr.io/railwayapp/cli:latest
    env:
      SVC_ID: web
      RAILWAY_TOKEN: f1572915-b493-459a-b1e3-f707488e2b47
    steps:
      - uses: actions/checkout@v3
      - run: railway up --service=${{ env.SVC_ID }}
